<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">Bakery Company</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/home">Home<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Sign Up</a>
            <a class="nav-item nav-link" href="/dataEntry">New Product</a>
            <a class="nav-item nav-link" href="/summary">Bakery Inventory</a>
          </div>
        </div>
      </nav>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</header>
<body>
  <section class="container-fluid bg">
    <div>
        <img src="/static/img/logoBake.png" class="rounded mx-auto d-block b-logo" alt="logo">
    </div>

    <div>
      <h1 class="title">Welcome to the Bakery Company</h1>

    </div>

    <div class="imageleft" >
      <img src="/static/img/slide2.jpg" alt="store">
    </div>

    <div class="imageRight" >
      <img src="/static/img/slide2.jpg" alt="store2">
    </div>


    <div class="content">
      <p>
        Hello and welcome to the development of our new website for our new Grand Reopening of the oldest Bakery Company which is served to give the best
        bakery goods in the United States. We have not opened up officially yet, and the site is still under development but we are taking in accounts, 
        and recommendations of what we should sell in our bakery. We believe having a community input for our menu would benefit to help establish the best 
        bakery in the market!
      </p>

      <h1>
        Hope to See You Soon!
      </h1>
    </div>




  </section>
</body>
</html>